<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_Cau_Lac_Bo.Properties.Settings.QL_GAOConnectionString"
            connectionString="Data Source=HUY-PC\SA;Initial Catalog=QL_GAO;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_Cau_Lac_Bo.Properties.Settings.QLHOATDONG_CLBConnectionString"
            connectionString="Data Source=HUY-PC\SA;Initial Catalog=QLHOATDONG_CLB;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
